# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
build/
dist/

# --- Variables de Entorno (SEGURIDAD) ---
.env
.env.local

# --- IDEs ---
.vscode/
.idea/
*.swp

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
desktop.ini

# --- Archivos temporales de imagen (opcional) ---
# Si en algún momento tu script guardara archivos, 
# aquí evitarías que se suban los resultados de las pruebas.
image_samples/proc_*